1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [5]:
x = 1
print (x)

1

2) Imprimir el tipo de dato de la constante 8.5

In [6]:
x2 = 8.5
print (type(x))

<class 'int'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [7]:
print (x)

1

4) Crear una variable que contenga tu nombre

In [8]:
mi_nombre = 'Tu nombre'

5) Crear una variable que contenga un número complejo

In [9]:
y = 1 + 1j

6) Mostrar el tipo de dato de la variable creada en el punto 5

In [10]:
print(type(y))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [11]:
constante_pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [12]:
verdadero = True
falso = False

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [13]:
print (type(verdadero), type(falso))

<class 'bool'> <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [17]:
x1 = 1
x2 = 2.1
sum = x + x2
print (sum)
print (type(x1))

3.1
<class 'int'>

11) Realizar una operación de suma de números complejos

In [20]:
y1 = 1 + 2j
y2 = 2 - 3j
sum1 = y1 + y2
sum1

(3-1j)

12) Realizar una operación de suma de un número real y otro complejo

In [22]:
sum2 = x1 + y2
sum2

(3-3j)

13) Realizar una operación de multiplicación

In [23]:
mult = 4 * 2

14) Mostrar el resultado de elevar 2 a la octava potencia

In [3]:
pot = 2**8
pot

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [5]:
c = 27 / 4
c

6.75

16) De la división anterior solamente mostrar la parte entera

In [6]:
e = 27 // 4
e

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [8]:
r = 27 % 4
r

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [9]:
valor = 4 * e + r
valor

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [11]:
a = 'buenos'
c = ' '
b = 'aires'
ab = a + c + b
ab

'buenos aires'

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [12]:
print (2 == '2')

False

2 es una variable tipo int y '2' es una variable tipo alfanumérico

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [13]:
i = int ('2')
print ( 2 == i)

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [14]:
a = float ('3,8')

ValueError: could not convert string to float: '3,8'

La coma se usa para declarar tuplas y no numeros flotantes

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [16]:
tres = 3
tres -= 3
tres

0

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [17]:
a = 1
a <<= 2
a

4

El operador >> se llama rshift o right shift el cual indica un desplazamiento a la derecha por n bits.
El operador >> se llama lshift o left shift el cual indica un desplazamiento a la izquierda por n bits.

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [18]:
prueba = 2 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [20]:
prueba1 = '2'*2
prueba1

'22'